youtube-search-python==1.6.6
yt-dlp==2022.11.11
git-lfs==1.6
gradio==3.12.0
evaluate==0.2.2
whisper==1.1.10
pytorch-lightning==1.7.7
pyopenjtalk==0.3.0
jiwer
sounddevice==0.4.5
accelerate
torch
torchvision
datasets
scipy
wandb
einops
fire
retry
kornia==0.5.4
